@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #121213;
}
.App-Module {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  height: calc(100% - 65px);
  display: flex;
  flex-direction: column;
  background-color: #121213;
}
.Board-module {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
  color: #ffffff;
}
.MainBoard {
  width: 350px;
  height: 420px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  border-color: #555;
  color: #ffffff;
}
.Row-module {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
.Tile-module {
  padding-top: 15px;
  background-color: #121213;
  border: 2px solid #565758;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
}
.Tile-module-selected {
  /* border-color: ; */
  padding-top: 15px;
  border-radius: 5px;
  background-color: #121213;
  border: 3px solid #70737e;
  /* border-width: 2px; */
  color: #ffffff;
  font-size: 1.5em;
  /* animation-name: PopIn;
  animation-duration: 300ms; */
  font-weight: bolder;
  text-align: center;
  animation-delay: 0s !important;
  animation: popin 0.3s ease forwards;
  transform-origin: center;
}
.Tile-module-Correct {
  /* border-color: ; */
  padding-top: 15px;
  border-radius: 5px;
  background-color: #121213;
  border: 3px solid #70737e;
  /* border-width: 2px; */
  color: #ffffff;
  font-size: 1.5em;
  /* animation-name: PopIn;
  animation-duration: 300ms; */
  font-weight: bolder;
  text-align: center;
  animation: crflip 0.75s ease-in-out forwards;
  /* animation-delay: 1s; */
  transform-origin: center;
}
.Tile-module-Present {
  /* border-color: ; */
  padding-top: 15px;
  border-radius: 5px;
  background-color: #121213;
  border: 3px solid #70737e;
  /* border-width: 2px; */
  color: #ffffff;
  font-size: 1.5em;
  /* animation-name: PopIn;
  animation-duration: 300ms; */
  font-weight: bolder;
  text-align: center;
  animation: prflip 0.75s ease-in-out forwards;
  transform-origin: center;
}
.Tile-module-Absent {
  /* border-color: ; */
  padding-top: 15px;
  border-radius: 5px;
  background-color: #121213;
  border: 3px solid #70737e;
  /* border-width: 2px; */
  color: #ffffff;
  font-size: 1.5em;
  /* animation-name: PopIn;
  animation-duration: 300ms; */
  font-weight: bolder;
  text-align: center;
  animation: arflip 0.75s ease-in-out forwards;
  transform-origin: center;
}
/* .Tile-module-selected [data-animation="pop"] {
 
} */
.Keyboard-module {
  height: 80px;
  margin: 0 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@keyframes flip {
  0% {
    transform: rotateX(180deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes crflip {
  0% {
    transform: rotateX(180deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    background-color: darkgreen;
    border: none;
    transform: rotateX(0deg);
  }
}
@keyframes prflip {
  0% {
    transform: rotateX(180deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    background-color: rgb(195, 170, 59);
    border: none;
    transform: rotateX(0deg);
  }
}
@keyframes arflip {
  0% {
    transform: rotateX(180deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    background-color: #3a3a3c;
    border: none;
    transform: rotateX(0deg);
  }
}
@keyframes popin {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
